// color common
$black: #1b1b1b;
$dkgray: #4f4f4f;
$gray: #838383;
$ltgray: #c0c0c0;
$red: #ff2d2d;
$blue: #03a9f4;

.v-btn {
  letter-spacing: normal;
}
// font weight

.font-normal {
  font-weight: normal !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: bold !important;
}

// font (0331) 정의
.font-22 {
  font-size: 1rem;
}
.font-24 {
  font-size: 1.09rem;
}
.font-26 {
  font-size: 1.18rem;
}
.font-28 {
  font-size: 1.27rem;
}
.font-30 {
  font-size: 1.36rem;
}
.font-32 {
  font-size: 1.46rem;
}
.font-34 {
  font-size: 1.55rem;
}
.font-36 {
  font-size: 1.64rem;
}
.font-38 {
  font-size: 1.73rem;
}
.font-42 {
  font-size: 1.9rem;
}
.font-52 {
  font-size: 2.36rem;
}

.font-55 {
  font-size: 2.5rem;
}
